*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# --- MaktabGo driver: чистый пуш ---
.idea/
.kotlin/
**/build/
/app/build/
*.apk
*.aab
*.keystore
*.jks

# подписи/секреты — НЕ коммитить
key.properties
/app/key.properties
